<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/LoginUser.css">
    <title>Login</title>
</head>
<body>
    <section class="form-section">
        <div class="form-container">
            <form action="" id="form">
                <div id="signInMessage" class="messageDiv" style="display:none;"></div>
                <h1>Welcome Back</h1>
                <br>
                
                <div class="box">
                    <label for="useremail">User Email</label>
                    <input type="text"  name="useremail" id="useremail" placeholder="Enter Your Email">
                </div>
                <br>
                <div class="box">
                    <label for="userpassword">Password</label>
                    <input type="password" name="userpassword" id="userpassword" placeholder="Enter Your password">
                   
                </div >
                <div class="buttons">
                    <button id="login"type="button" >Login</button>
                    <button type="reset" >Reset</button>
                </div>
                
                <div class="loginlink"><a href="RegisterUser.html" class="link">Don't have an account? Create One</a></div>

            </form>

        </div>
    </section>
    <script type="module" src="../Src/login.js"></script>
    

</body>
</html>