<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/Quizzes Interface.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>
<body>
    <header>Quiz Application</header>

   <div class="search-filter-container">
        <input type="text" id="search-input" placeholder="Search quizzes...">
        <select id="filter-select">
            <option value="all">Select Category</option>

        </select>
    </div>
    
    <main>

        <div class="quiz-card">
            
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Quiz Application. All rights reserved.</p>
    </footer>

    <script type="module" src="../Src/QuizCard.js"></script>
</body>
</html>