/* quiz-styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

header {
    background-color: #d80ee2;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
}

.quiz-container {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

#question-container {
    margin-bottom: 2rem;
}

#question-title {
    margin: 0 0 1rem 0;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    width: 100%;
    max-width: 400px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #e0e0e0;
}

.option.selected {
    background-color: #4CAF50;
    color: white;
    border-color: #45a049;
}

.navigation-controls {
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.nav-btn:not(:disabled):hover {
    background-color: #45a049;
}

.btn {
    background-color: #008CBA;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #007bb5;
}

#timer {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.results-container {
    margin-top: 20px;
    padding: 100px;
    border: none;
    border-radius: 10px;
    background-color: #eda8e4;
}

.results-container h2 {

}

.results-container p {
    font-size: 18px;
    margin: 5px 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
    bottom: 0;
}
